.Menu-row-container {
height: 60px;
width: 100%;
background-color: $red;
}
.Menu-row-inner-container {
  position: relative;
  @extend .Inner-container;
}



/////////////////////////////////////////////
 // LEFT SECTION
 /////////////////////////////////////////////
.Menu-row-menu--js {
  cursor: pointer;
  position: absolute;
  left: 0;
  transition: all .2s ease;
  padding: 7px;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
  &.Burger--open {
    background-color: $darker-red;
  }
}

.Menu-row-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
  @extend .Flex-center;
  float: left;
}
.Menu-row-title {
  margin-left: 10px;
  float: left;
  color: white;
  h3 {
    text-transform: uppercase;
    font-family: $gill-regular;
    padding: 11px 0;
    margin: 0;
    font-size: 20px;
  }
}
.Menu-row-burger {
  width: 60%;
  height: 20px;
  position: relative;
  span {
    position: absolute;
    width: 100%;
    border-radius: 3px;
    display: block;
    opacity: 1;
    height: 3px;
    left: 0;
    background-color: white;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-of-type(1) {
    top: 0;
    }
    &:nth-of-type(2), &:nth-of-type(3) {
      top: 8px;
    }
    &:nth-of-type(4) {
      top: 16px;
    }
  }
}
//  STATE OPEN
.Burger--open {
span:nth-of-type(1),span:nth-of-type(4)  {
top: 8px;
width: 0;
left: 50%;
}
span:nth-of-type(2) {
  transform: rotate(45deg);
}
span:nth-of-type(3) {
  transform: rotate(-45deg);
}
}

/////////////////////////////////////////////
// RIGHT SECTION
/////////////////////////////////////////////
.Menu-row-profile--js {

  cursor: pointer;

  position: absolute;
  right: 0;
  top: 7px;

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}
.Menu-row-image {
margin-top: 0px;
background: url("../images/svg/profile-icon.svg") no-repeat center center;
height: 45px;
width: 30px;
float: left;
}
