.Prices-container {
  background-color: $content-grey;
}

.Prices-inner-container {
  @extend .Inner-container;
  h4 {
    text-align: center;
    font-size: 22px;
    font-family: $gill-regular;
  }
}
.Prices-header {
  padding-top: $base-margin;
}


@mixin prices-col($color) {
  transition: all .2s ease;
  background-color: $color;
  &:hover {
    background-color: darken($color, 15%);
  }
}


.Prices-lottery-row {
  @include flex-row();
  max-width: $max-inner;
  margin: 0 auto;
}
.Prices-lottery-col {
  @include flex-col(1,3);
  @include prices-col(rgb(230,230,230));
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120px;
  cursor: pointer;
}
/////////////////////////////////////////////
// VARIANTS "Välj lotteri här"
/////////////////////////////////////////////
.Prices-lottery-row--kombi-active {
  border-bottom: 10px solid $orange;
  .Prices-lottery-col--kombi  {
    @include prices-col($orange);
  }
}
.Prices-lottery-row--dream-active {
  border-bottom: 10px solid $green;
  .Prices-lottery-col--dream  {
    @include prices-col($green);
  }
}
.Prices-lottery-row--motor-active {
  border-bottom: 10px solid $red;
  .Prices-lottery-col--motor  {
    @include prices-col($red);
  }
}
.Prices-lottery-col--kombi {
  background-image: url("../images/svg/logos/kombi.svg");
}
.Prices-lottery-col--dream {
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-image: url("../images/svg/logos/dromrese.svg");
}
.Prices-lottery-col--motor {
  background-image: url("../images/svg/logos/motor.svg");
}
/////////////////////////////////////////////
// ANCHOR LINKS
/////////////////////////////////////////////
.Prices-lottery-links {
  max-width: $max-inner;
  margin: 0 auto;
  @include flex-row();
  a {
    text-align: center;
    color: $label-grey;
    padding: $base-margin;
    background-color: white;
    text-decoration: none;
    @include breakpoint(1px, 599px) {
        @include flex-gtr-col(3,$base-margin);
    }
    @include breakpoint(600px, 1023px) {
      @include flex-gtr-col(4,$base-margin);
      &:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6),&:nth-of-type(7) {
        flex-basis: calc(25% - 15px)
      }
    }
    @include breakpoint(1024px) {
      @include flex-gtr-col(7,$base-margin);
    }
    &:hover {
      background-color: $grey;
      color: white;
    }
  }
}




/////////////////////////////////////////////
// PRICES PRICE LEVELS
/////////////////////////////////////////////
.Prices-price-level {
  max-width: $max-inner;
  margin: 0 auto;
  text-align: center;
  // border-top: 4px solid red;
  &:first-of-type {
    border-top: 4px solid green;
  }

  img {
    width: 100%;
  }
  p {
    text-align: center;
    color: $dark-grey;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 2*$base-margin;
  }
  a {
    @include gradient-btn($orange);
  }
}

.Prices-price-inner {
  background-color: white;
  margin-bottom: 2*$base-margin;
}


.Prices-price-image {
  position: relative;
}
.Prices-number {
  position: absolute;
  left: $base-margin;
  top: $base-margin;
  width: 45px;
  height: 45px;
  color: white;
  font-size: 24px;
  @include flex-position(center);
  background-color: $orange;
  border-radius: 50%;
}
/////////////////////////////////////////////
// Prices with 2 columns
/////////////////////////////////////////////
.Prices-price-level--cols {
  .Prices-price-inner {
    margin-bottom: 0;
  }
}


.Prices-ord-price {
  margin-top: $base-margin;
  display: inline-block;
  background-color: $purple;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px $base-margin;
}



.Prices-cols-container {
  @include flex-row();
  background-color: $content-grey;
  padding-bottom: 2*$base-margin;
}
.Prices-col {
  background-color: white;
  padding: $base-margin;

  @include flex-gtr-col(2,2*$base-margin);
  .Prices-image {
  }
}
/////////////////////////////////////////////
// PROMOS FOR OTHER LOTTERYS
/////////////////////////////////////////////
.Prices-promo {
  margin-bottom: 2*$base-margin;
  @include flex-row();

}
.Prices-promo-left {
  flex-basis: 100px;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    left: $base-margin;
    top: -10px;
    background-repeat: no-repeat;
    background-size: 100px;
    height: 100px;
    width: 100px;
  }
}
.Prices-promo-right {
  flex-basis: calc(100% - 100px);
  @include flex-position(center);
  p {
    margin: 0;
    padding: $base-margin/3 0;
    font-size: 20px;
    color: white;
    text-align: left;
  }
}
// VARIANTS
.Prices-promo--kombi {
  background-color: $orange;
  .Prices-promo-left:before {
    background-image: url("../images/svg/logos/kombi.svg");
  }
}
.Prices-promo--dream {
  background-color: $green;
  .Prices-promo-left:before {
    background-image: url("../images/svg/logos/dromrese.svg");
  }
}
.Prices-promo--motor {
  background-color: $red;
  .Prices-promo-left:before {
    background-image: url("../images/svg/logos/motor.svg");
  }
}
