.Prices-container {
  background-color: $content-grey;
}

.Prices-inner-container {
  @extend .Inner-container;
}
.Prices-header {
  padding-top: $base-margin;
  h1 {
    padding-bottom: 0;
  }
  h3 {
    margin: 0;
  }
}
.Prices-chosen-container {
  background-color: white;
  max-width: $max-inner;
  width: 95%;
  margin: 2*$base-margin auto;
  border: 3px solid $purple;
  position: relative;
  text-align: center;
  img {
    max-height: 390px;
    display: block;
    margin: 0 auto;
    padding: 2*$base-margin;
  }
  p {
    color: lighten($purple,10%);
    width: 90%;
    max-width: 320px;
    margin: $base-margin auto;
    text-align: center;
  }
  a {
    display: inline-block;
    @extend .Arrow-link;
  }
}

$ribbon-height: 170px;
.Prices-chosen-ribbon {
  left: -10px;
  top: -15px;
  position: absolute;
  background:  url("../images/svg/tickets/ribbon-purple.svg") no-repeat;
  height: $ribbon-height;
  width: 1.4 * $ribbon-height;
  span {
    display: block;
    position: absolute;
    left: -5px;
    top: 55px;
    transform: rotate(-36deg);
    font-size: 24px;
    font-family: $gill-bold;
    color: white;
    text-transform: uppercase;
  }
}

/////////////////////////////////////////////
// Eller välj annan vinst
/////////////////////////////////////////////
.Prices-others-header {
  color: $red;
  text-align: center;
  margin-bottom: 0;
}

.Prices-others-container {
@include flex-row();
max-width: $max-inner;
margin: 0 auto;
padding-bottom: 4*$base-margin;
}
.Prices-others-col {
  background-color: white;
  text-align: center;
  position: relative;
  @include breakpoint(1px, 767px) {
    @include flex-gtr-col(2,$base-margin);
    .Prices-others-image {
      height: 150px;
    }
    img {
      max-height: 150px;
    }
  }
  @include breakpoint(767px) {
    @include flex-gtr-col(3,$base-margin);
    .Prices-others-image {
      height: 200px;
    }
    img {
      max-height: 200px;
    }
  }
  img {
    margin: 0 auto;
    display: block;
    padding: $base-margin;
    width: auto;
  }
  h4 {
    font-family: $gill-regular;
    font-size: 28px;
    margin: 0;
  }
}
.Prices-others-readmore  {
  @extend .Arrow-link;
  margin-bottom: $base-margin;
  padding-bottom: 75px;
}
.Prices-others-choose {
  @include gradient-btn($orange);
  width: auto;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}
