.Prices-container {
  background-color: $content-grey;
  padding-bottom: 2*$base-margin;
}
.Prices-inner-container {
  @extend .Inner-container;
  h4 {
    text-align: center;
    font-size: 22px;
    font-family: $gill-regular;
  }
}
.Prices-header {
  max-width: $max-inner;
  margin: 0 auto;
  padding: $base-margin;
  @include respond-to(medium) {
    padding: $base-margin 0 0 0;
  }
}
.Prices-lottery-row {
  @include flex-row();
  max-width: $max-inner;
  margin: 0 auto;
}
.Prices-lottery-col {
  @include flex-gtr-col(3,1px);
  @include prices-col(rgb(230,230,230));
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-size: 80px;
  height: 100px;
  @include breakpoint(400px) {
    background-size: 100px;
    height: 130px;
  }
  @include breakpoint($medium) {
    background-size: 120px;
    height: 140px;
  }
}
/////////////////////////////////////////////
// VARIANTS
/////////////////////////////////////////////
//  KOMBI
.Prices-container--kombi {
  @include prices-variants($orange,#{Prices-lottery-col--kombi});
}
// DRÖMRESE
.Prices-container--dream {
  @include prices-variants($green,#{Prices-lottery-col--dream});
}
//  MOTOR
.Prices-container--motor {
  @include prices-variants($red,#{Prices-lottery-col--motor});
}
.Prices-lottery-col--kombi {
  background-image: url("../images/svg/logos/kombi.svg");
}
.Prices-lottery-col--dream {
  background-image: url("../images/svg/logos/dromrese.svg");
}
.Prices-lottery-col--motor {
  background-image: url("../images/svg/logos/motor.svg");
}
/////////////////////////////////////////////
// ANCHOR LINKS
/////////////////////////////////////////////
.Prices-lottery-links {
  max-width: $max-inner;
  margin: 0 auto;
  @include flex-row();
  a {
    text-align: center;
    color: $label-grey;
    padding: $base-margin 0;
    background-color: white;
    text-decoration: none;
    @include breakpoint(1px, 599px) {
        @include flex-gtr-col(3,$base-margin);
    }
    @include breakpoint(600px, 1023px) {
      @include flex-gtr-col(4,$base-margin);
      &:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6),&:nth-of-type(7) {
        flex-basis: calc(25% - 15px)
      }
    }
    @include breakpoint(1024px) {
      @include flex-gtr-col(7,$base-margin);
    }
    &:hover {
      background-color: $grey;
      color: white;
    }
  }
}

/////////////////////////////////////////////
// PRICES PRICE LEVELS
/////////////////////////////////////////////
.Prices-price-level {
  max-width: $max-inner;
  margin: 0 auto;
  text-align: center;
  img {
    width: 100%;
  }
  p {
    text-align: center;
    color: $dark-grey;

    margin: 0;
    padding: 10px 0 $base-margin 0;
  }
}
.Prices-buy-link {
  background-color: white;
  text-align: center;
  padding: $base-margin 0 20px 0; // Compensate for shadow
  a {
    display: inline-block;
  }
}
.Prices-price-inner {
  background-color: white;
  margin-bottom: 2*$base-margin;
}
.Prices-price-image {
  position: relative;
}
.Prices-number {
  position: absolute;
  left: $base-margin;
  top: $base-margin;
  width: 45px;
  height: 45px;
  color: white;
  font-size: 24px;
  @include flex-position(center);
  border-radius: 50%;
}
/////////////////////////////////////////////
// Prices with 2 columns
/////////////////////////////////////////////
.Prices-price-level--cols {
  .Prices-price-inner {
    margin-bottom: 0;
  }
}
.Prices-ord-price {
  margin-top: $base-margin;
  display: inline-block;
  background-color: $purple;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px $base-margin;
}
.Prices-cols-container {
  @include flex-row();
  background-color: $content-grey;
  padding-bottom: 2*$base-margin;
}
.Prices-col {
  background-color: white;
  @include flex-gtr-col(2,2*$base-margin);
  .Prices-col-inner {
    padding: $base-margin;
  }
  .Prices-price-image {
    img {
      max-height: 200px;
      width: auto;
    }
  }
}
/////////////////////////////////////////////
// PROMOS FOR OTHER LOTTERYS
/////////////////////////////////////////////
.Prices-promo {
  margin-bottom: 2*$base-margin;
  @include flex-row();
}
.Prices-promo-left {
  flex-basis: 100px;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    left: $base-margin;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 70px;
    height: 100%;
    width: 100%;
    @include breakpoint(600px) {
      background-size: 100px;
      height: 100px;
      width: 100px;
      top: -15px;
    }
  }
}
.Prices-promo-right {
  flex-basis: calc(100% - 150px);
  @include flex-position(center);
  p {
    margin: 0;
    padding: $base-margin/3 0;
    font-size: 16px;
    color: white;
    text-align: left;
    @include breakpoint(600px) {
    font-size: 20px;
    }
  }
}
// VARIANTS
.Prices-promo--kombi {
  background-color: $orange;
  .Prices-promo-left:before {
    background-image: url("../images/svg/logos/kombi.svg");
  }
}
.Prices-promo--dream {
  background-color: $green;
  .Prices-promo-left:before {
    background-image: url("../images/svg/logos/dromrese.svg");
  }
}
.Prices-promo--motor {
  background-color: $red;
  .Prices-promo-left:before {
    background-image: url("../images/svg/logos/motor.svg");
  }
}
