/////////////////////////////////////////////
// ALL THE GENERAL CSS SHOULD BE IN THIS FILE
/////////////////////////////////////////////
html {
  line-height: 1.5;
}
body {
  font-family: $gill-regular, "sans-serif";
  overflow-x: hidden;
  color: $text;
}
h1:not([class]), h2:not([class]), h3:not([class]), h4:not([class]), h5:not([class]), h6:not([class]) {
  font-family: $gill-bold, "sans-serif";
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.js-Site-container {
  width: 100%;
  &.locked {
    position: fixed;
  }
}
a {
  text-decoration: none;
  color: $red;
  transition: all .2s ease;
  &:hover {
    text-decoration: underline;
  }
}
blockquote {
  color: white;
  font-family: $gill-bookItalic;
  font-size: 25px;
  margin: 2*$base-margin 0;
  background-color: $dark-grey;
  text-align: center;
  padding: 30px 30px 30px 60px;
  position: relative;
  font-size: 25px;
  span {
    position: relative;
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    &:before {
      background: url("../images/svg/quote.svg");
      content: '';
      position: absolute;
      height: 30px;
      width: 30px;
      left: -45px;
      top: 5px;
      background-repeat: no-repeat;
    }
  }
}
img {
  max-width: 100%;
  height: auto;
}
/////////////////////////////////////////////
//  Headings
/////////////////////////////////////////////
.Heading-1 {
  color: $red;
  padding: 1*$base-margin 0;
  font-family: $gill-regular;
  text-align: center;
  span {
    display: block;
  }
}

.Heading-2 {
  font-size: 26px;
  font-family: $gill-regular;
  text-align: center;
  span {
    display: block;
  }
}
.Heading-2--red {
  font-size: 26px;
  font-family: $gill-regular;
  text-align: center;
  color: $red;
  span {
    display: block;
  }
}
.Heading-3 {
  font-size: 24px;
  font-family: $gill-regular;
  text-align: center;
  span {
    display: block;
  }
}
/////////////////////////////////////////////
// CTA block
/////////////////////////////////////////////
 .Cta-block {
   background-color: white;
   padding: 30px 0;
 }
 .Cta-btn {
   &.Cta-btn--red {
     @include gradient-btn($red);
   }
   &.Cta-btn--green {
     @include gradient-btn($green);
   }
   &.Cta-btn--orange {
     @include gradient-btn($orange);
   }
   &.Cta-btn--blue {
     @include gradient-btn($blue);
   }
   span {
     display: block;
     text-align: center;
     &:first-of-type {
       margin-bottom: 5px;
       font-size: 15px;
       font-family: $gill-light;
     }
   }
 }
