////////////////////////////////
// BUTTONS
///////////////////////////////
@mixin rounded-btn($background,$color,$width) {
  text-transform: uppercase;
  cursor: pointer;
  background-color: $background;
  outline: 0;
  color: $color;
  border-radius: 8px;
  font-size: 20px;
  padding: 15px 20px;
  max-width: $width;
  transition: all 0.2s ease;
  border: 2px solid $background;
  &:hover {
    background: $color;
    color: $background;
  }
}

$shadow-color:  black;
@mixin gradient-btn($color) {
  $color2: darken($color,5%);
  border-radius: 10px;
  font-size: 20px;
  border: solid 5px white;
  padding: 15px;
  width: 100%;
  text-transform: uppercase;
  position: relative;
  font-family: $gill-regular;
  max-width: 320px;
  margin: 0 auto;
  display: block;
  background: linear-gradient($color 45%, $color2 54%);
  outline: 0;
  cursor: pointer;
  color: white;
  text-align: center;

  &:hover {
    background: linear-gradient(darken($color,5%) 45%, darken($color2,5%) 54%);
    text-decoration: none;
  }
  &:after {
    background: url("../images/svg/shadow-border.svg") no-repeat;
    background-size: contain;
    position: absolute;
    height: 10px;
    bottom: -15px;
    content: "";
    left:0;
    width: 100%;
    right: 0;
  }

}

//-----------------------------------------
// Calculate percentage - in honor of Vesslan
//-----------------------------------------
@mixin vesslan($span, $col, $margin: 0) {
  $percentage: percentage($span/$col);
  width: calc(#{$percentage} - #{$margin});
}

////////////////////////////////
// Margin
///////////////////////////////
@mixin margin-y($m: 10px) {
  margin-top: $m;
  margin-bottom: $m;
}
/////////////////////////////////////////////
 // Inner page container
 /////////////////////////////////////////////
@mixin page-inner() {
  padding: $base-margin 1*$base-margin 0;
  @include respond-to(medium) {
    padding: $base-margin 2*$base-margin 0;
  }
  @include respond-to(large) {
    padding: $base-margin 3*$base-margin 0;
  }
}
/////////////////////////////////////////////
// Gradient background
/////////////////////////////////////////////
 @mixin gradient-bg($color) {
   background: radial-gradient(lighten($color,20%) 10%,lighten($color,15%) 25%, $color 80%);
}
