.u-uppercase {
  text-transform: uppercase;
}

.u-bold {
  font-family: $gill-bold;
}

.u-block {
  display: block;
}

.u-center {
  text-align: center;
}
.u-big {
  font-size: 36px;
}
.u-green {
  color: $green;
}
.u-red {
  color: $red;
}
.u-Dots-list {
  padding-left: 2*$base-margin;
  list-style-type: none;
  li {
    position: relative;
    padding-bottom: $base-margin;
    &:before {
      content: "";
      background-color: $red;
      height: $base-margin;
      width: $base-margin;
      border-radius: 50%;
      position: absolute;
      left: -30px;
      top: 3.5px;
    }
  }
}
.u-Dots-list--grey {
  padding-left: 2*$base-margin;
  list-style-type: none;
  li {
    position: relative;
    padding-bottom: $base-margin;
    &:before {
      content: "";
      background-color: $grey;
      height: $base-margin;
      width: $base-margin;
      border-radius: 50%;
      position: absolute;
      left: -30px;
      top: 3.5px;
    }
  }
}
