/////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////
$red: rgb(196,37,46);
$dark-red: rgb(155,53,46);
$darker-red: rgb(127,26,35);
$youtube-red: rgb(168, 58, 51);

$orange: rgb(251,164,0);
$dark-orange: rgb(215,153,34);

$lighter-grey: rgb(247,247,247);
$light-grey: rgb(204,204,204);
$grey: rgb(179,179,179);
$transparent-grey: rgba(0,0,0,0.7);


$green: rgb(140,200,65);
$dark-green: rgb(141,171,64);

$facebook-blue: rgb(70, 89, 150);
$lottery-blue: rgb(59,110,143);

/////////////////////////////////////////////
// Margin and offsets
/////////////////////////////////////////////
// Base offset
$base-margin: 15px;


/////////////////////////////////////////////
// FONTS
/////////////////////////////////////////////
$gill-light: 'Gill Sans W01 Light';
$gill-book: 'Gill Sans W01 Book';
$gill-bookItalic: 'GillSansW01-BookItalic';
$gill-bold: 'Gill Sans W01 Bold';
$gill-regular: 'Gill Sans W01 Medium';
