/////////////////////////////////////////////
// Page Grid Two columns
/////////////////////////////////////////////
$page-gtr: 15px;

.Page {
  @include flex-row();
}

@include respond-to(large) {
  .Page-two-col-main {
    @include flex-col(2, 3, $page-gtr);
    margin-right: $page-gtr;
  }
  .Page-two-col-side {
    @include flex-col(1, 3, $page-gtr);
    margin-left: $page-gtr;
  }
}

/////////////////////////////////////////////
// Page Grid One column
/////////////////////////////////////////////
.Page-one-col {
  @include flex-col(1, 1, $page-gtr);
  margin: 0 auto;
}

.Page {
  @extend .Inner-container;
  padding-top: $base-margin;

  h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font-size: 16px;
    @include margin-y(30px);
  }
  ul {
    padding-left: 0;
    list-style-type: none;
 }

li:before {
    padding-top: 10px;
    content: '\2022 ';
    font-size: 20px;
    color: $red;
    padding-right: 0.5em;
}
}
.Page-image {
  margin-bottom: 2*$base-margin;
  img {
    width: 100%;
    height: auto;
  }
  span {
    display: block;
  }
}
.Page-lead {
  background-color: $lighter-grey;
  font-size: 16px;
  padding: 2*$base-margin;
}

.Page-video {
  margin: 0 auto;
  position: relative;
  padding-bottom: percentage(9/16);
  padding-top: 25px;
  height: 0;
  // max-width: 70%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.Page-buy-ticket {
  @include gradient-btn($red);
}
