.Promo-container {
  background-color: rgb(242, 242, 242);
}
.Promo-container-inner {
  @extend .Inner-container;
  @include breakpoint(1px,999px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  @include breakpoint(1000px) {
    @include flex-row();
  }
}
.Promo-item {
  background-color: white;
  background-color: white;
  text-align: center;
  box-shadow: 0px 5px 1px rgba(51, 51, 51, 0.08);
  position: relative;
  margin-bottom: 30px;
  display: flex;
  @include breakpoint(1px, 999px) {
    @include flex-gtr-col(1, 10px);
    margin-top: 0;
    &:first-of-type {
      margin-top: 30px ;
    }
  }
  @include breakpoint(1000px) {
    @include flex-gtr-col(3, $base-margin);
    margin-top: 30px ;
    min-height: 450px;
  }
 h3 {
   font-size: 32px;
   font-family: $gill-regular;
 }
}

.Promo-item--correct-ticket, [class*="Promo-item--campaign"]  {
  .Promo-box {
    padding: 25px $base-margin;
  }
  img {
    padding: $base-margin;
    width: 100%;
  }
}
/////////////////////////////////////////////
// PROMO CORRECT TICKET
/////////////////////////////////////////////
.Promo-item--correct-ticket {
  h3 {
    color: $red;
    margin-bottom: 25px;

  }
  .Promo-box {
    margin: 0 auto;
    width: 100%;
  }
  .Promo-box-button {
    @include gradient-btn($red);
    @include breakpoint(1000px) {
      margin-bottom: 10*$base-margin;
    }
  }
  .Promo-box-product {
    @include breakpoint(1px,999px) {
      margin: 30px auto $base-margin auto;
    }

    @include breakpoint(1000px) {
      margin: 0 auto;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 2*$base-margin;
    }

    @include flex-row();
  }
  .Promo-box-product-item {
    width: 33%;
    height: 5*$base-margin;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
  }
}

/////////////////////////////////////////////
// PROMO CAMPAIGN
/////////////////////////////////////////////
[class*="Promo-item--campaign"] {
  background: white url("../images/promo/promo_background.png") no-repeat center center;
  background-size: cover;
  .Promo-box {
    padding-bottom: 2 * $base-margin;
    .Promo-box-title {
      margin-bottom: $base-margin/3;
    }
    .Promo-box-text {
      margin-bottom: $base-margin;
      font-size: 20px;
    }
  }
}
.Promo-item--campaign-kombi {
  h3 {
    color: $blue;
  }
  .Promo-box-button {
    @include gradient-btn($orange);
  }
}
.Promo-item--campaign-dream {
  h3 {
    color: $blue;
  }
  .Promo-box-button {
    @include gradient-btn($green);
  }
}
.Promo-item--campaign-motor {
  h3 {
    color: $red;
  }
  .Promo-box-button {
    @include gradient-btn($red);
  }
}
/////////////////////////////////////////////
// PROMO WINNER
/////////////////////////////////////////////
[class*="Promo-item--winner"] {
  @include breakpoint(1px,999px) {
    padding-bottom: 80px;
  }
  img {
    width: 100%;
  }
  .Promo-box-caption {
    padding: $base-margin;
    color: white;
  }
  .Promo-box-caption-text {
    font-size: 18px;
  }
  .Promo-box-caption-text--big {
    font-size: 32px;
  }
  .Promo-box-link {
    padding: $base-margin 0;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    a {
      font-size: 18px;
      @extend .Arrow-link;
      &:before {
        top: 8px;
      }
    }
  }
}
//  Variants
.Promo-item--winner-kombi {
  background-color: $orange;
}
.Promo-item--winner-dream {
  background-color: $green;
}
.Promo-item--winner-motor {
  background-color: $red;
}
