.Promo-container {
  background-color: rgb(242, 242, 242);
}
.Promo-container-inner {
  @extend .Inner-container;
  @include flex-row();
}
.Promo-item {
  background-color: white;
  background-color: white;
  text-align: center;
  box-shadow: 0px 5px 1px rgba(51, 51, 51, 0.08);
  position: relative;
  margin-bottom: 30px;


  @include breakpoint(1px, 999px) {
    @include flex-gtr-col(1, 10px);
    margin-top: 0;
    &:first-of-type {
      margin-top: 30px ;
    }
  }
  @include breakpoint(1000px) {
    @include flex-gtr-col(3, 15px);
    margin-top: 30px ;
  }
}
.Promo-box {
  position: relative;
  height: 100%;
}
.Promo-box-title {
  color: $red;
  font-size: 32px;
}
.Promo-box--correct-ticket, .Promo-box--campaign {
  padding: 25px 15px;
}
.Promo-box-button {
  color: white;
}
/////////////////////////////////////////////
// PROMO CORRECT TICKET
/////////////////////////////////////////////
.Promo-box--correct-ticket {
  .Promo-box-title {
    margin-bottom: 25px;
  }
  .Promo-box-button {
    @include gradient-btn($red);
  }
  .Promo-box-image {
    margin-bottom: 20px;
    max-width: 100%;
    max-height:100%;
  }
  .Promo-box-product {
    margin: 2*$base-margin auto;
    @include breakpoint(1000px) {
      position: absolute;
    }
    right: 0;
    left: 0;
    bottom: 2*$base-margin;
    @include flex-row();
  }
  .Promo-box-product-item {
    width: 33%;
    height: 5*$base-margin;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
  }
}

/////////////////////////////////////////////
// PROMO CAMPAIGN
/////////////////////////////////////////////
.Promo-box--campaign {
  background: url("../images/promo/promo_background.png") no-repeat center center;
  background-color: white;
  .Promo-box-title {
    margin-bottom: $base-margin/3;
  }
  .Promo-box-text {
    margin-bottom: $base-margin;
    font-size: 20px;
  }
  .Promo-box-button {
    @include gradient-btn($orange);
  }
  .Promo-box-image {
    max-width:100%;
    max-height:100%;
  }
}

/////////////////////////////////////////////
// PROMO WINNER
/////////////////////////////////////////////
.Promo-box--winner {
  .Promo-box-image-big {
    background: no-repeat center center;
    background-size: cover;
    height: 280px;
  }
  .Promo-box-band {
    background-color: $orange;
    padding: $base-margin;
    color: white;
  }
  .Promo-box-band-text {
    font-size: 18px;
  }
  .Promo-box-band-text--big {
    font-size: 32px;
  }
  .Promo-box-link {
    padding: $base-margin;

    @include breakpoint(1000px) {
      position: absolute;
      padding: 0;
    }
    left: 0;
    right: 0;
    bottom: 2*$base-margin;
    a {
      font-size: 18px;
      @extend .Arrow-link;
      &:before {
        top: 8px;
      }
    }
  }
}
