$logo-margin-small: 20px;
$logo-margin-large: 10px;
.Logo-row-container {
border-bottom: 8px solid $green;
@extend .Row;
}
.Logo-row-inner {
  @extend .Inner-container;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/////////////////////////////////////////////
 // LEFT SECTION
 /////////////////////////////////////////////

.Logo-row-logo-container {
  @extend .Flex-left;
  flex-basis: 60%;
  order: 1;
  margin-top: $logo-margin-small;
  @include respond-to(large) {
    flex-basis: 25%;
    margin: $logo-margin-large 0;
  }
  .Logo-row-main-logo {
    background: url("../images/svg/logo.svg") no-repeat ;
    height: 70px;
    width: 90%;
  }

}
/////////////////////////////////////////////
// RIGHT SECTION
/////////////////////////////////////////////
.Logo-row-button-container {
  flex-basis: 40%;
  @extend .Flex-right;
  order: 2;
  margin-top: $logo-margin-small;
  position: relative;
  @include respond-to(large) {
    margin: $logo-margin-large 0;
    flex-basis: 25%;
    order: 3;
  }
  button {
    display: block;
  }
}
.Correct-lottery-btn--js {
  @include rounded-btn($orange,white, 220px);
}
/////////////////////////////////////////////
// LOTTERY LOGOS
/////////////////////////////////////////////
.Logo-row-logos-container {
  flex-basis: 100%;
  display: flex;
  order: 3;
  margin: $logo-margin-small 0;
  @include respond-to(large) {
    flex-basis: 50%;
    order: 2;
  }
  @include breakpoint(1px,1024px) {
    margin-top: 30px;
    &:before {
      position: absolute;
      left: 0;
      right: 0;
      background-color: $light-grey;
      content: "";
      height: 2px;
    }
  }
}

.Logo-row-logo {
  @include gtr-col(4,10px);
  margin-top: 15px;
  @include respond-to(large) {
    margin-top: 0;
    border-left: 1px solid $grey;
    &:last-of-type {
      border-right: 1px solid $grey;
    }
  }
  > div { // THE DIV THAT HOLDS THE LOGO
    height: 70px;
  }
  h4 {
    margin: 5px 0 0 0;
    text-align: center;
     @include respond-to(large) {
       word-spacing: 9999em;
     }
  }
}

.Logo-row-logo--kombi {
  background: url("../images/svg/kombi.svg") no-repeat center center;
}
.Logo-row-logo--dromrese {
  background: url("../images/svg/dromrese.svg") no-repeat center center;
}
.Logo-row-logo--motor {
  background: url("../images/svg/motor.svg") no-repeat center center;
}
.Logo-row-logo--skrap {
  background: url("../images/svg/skrap.svg") no-repeat center center;
}
