$logoBorder: 2px solid rgb(214,214,214);

.Logo-row-container {
border-bottom: 8px solid $green;
@extend .Row;
}
.Logo-row-inner {
  @extend .Inner-container;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/////////////////////////////////////////////
// LOTTERY LOGOS
/////////////////////////////////////////////
.Logo-row-logo {
  @include breakpoint(1px, 1023px) {
    position: relative;
    padding: 20px 0;
    margin: 15px 0;
    flex-basis: calc(50% - 6px);
    h4,p,.Logo-row-links {
      display: none;
    }
    [class*="Logo-row-logo--"] {
      width: 80px;
    }
    &:nth-of-type(1),&:nth-of-type(3) {
      border-left: $logoBorder;

    }
    &:nth-of-type(2),&:nth-of-type(4) {
      border-left: $logoBorder;
      border-right: $logoBorder;
    }
    &:nth-of-type(3),&:nth-of-type(4) {
      &:after {
        position: absolute;
        content: "";
        left: 0;
        width: 102%;
        height: 2px;
        background-color: rgb(214,214,214);
        top: -15px;
      }
    }
  }
  @include flex-position(center);
  @include respond-to(large) {
    margin: 40px 0;
    flex-basis: calc(25% - 2.5px);
    border-left: $logoBorder;
    &:last-of-type {
      border-right: $logoBorder;
    }
  }
  h4 {
    margin: 15px 0 0 0;
    text-align: center;
     @include respond-to(large) {
       word-spacing: 9999em;
     }
  }
  p {
    text-align: center;
    color: rgb(128,128,128);
    margin: 10px 0;
  }
}
.Logo-row-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  a {
    @extend .Arrow-link;
    &:first-of-type {
      margin-left: 18px;
    }
    &:last-of-type {
      margin-left: 25px;
    }
  }
}

/////////////////////////////////////////////
// THE ACTUAL LOGOS
/////////////////////////////////////////////
.Logo-row-logo-icon {
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 75px;
  background-size: 85px;
  color: transparent;
}
