.Menu-product-container {
  background-color: white;
  @include row(80%);
  margin: 0 auto;
}

/////////////////////////////////////////////
// PRODUCT MENU
/////////////////////////////////////////////
.Menu-product-item {
  @include gtr-col(4, 10px);
}

.Menu-product-logo {
  height: 110px;
  width: 100px;
  margin: 0 auto;
}

.Menu-product-title {
  text-align: center;
  word-spacing: 9999rem;
}

.Menu-product-item--kombi {
  .Menu-product-logo {
    background: url("../images/svg/kombi.svg") no-repeat center center;
  }
}

.Menu-product-item--dromrese {
  .Menu-product-logo {
    background: url("../images/svg/dromrese.svg") no-repeat center center;
  }
}

.Menu-product-item--motor {
  .Menu-product-logo {
    background: url("../images/svg/motor.svg") no-repeat center center;
  }
}

.Menu-product-item--skrap {
  .Menu-product-logo {
    background: url("../images/svg/skrap.svg") no-repeat center center;
  }
}
