form {
  margin: 0 auto;
  // max-width: 560px;
  *  {
    box-sizing: border-box !important;
  }
}
label {
  margin-bottom: 7.5px;
  font-size: 16px;
  @include breakpoint(1024px) {
    font-size: 20px;
  }
}
/////////////////////////////////////////////
// Input
/////////////////////////////////////////////
input[type="text"],
input[type="textarea"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  margin: 0;
  box-sizing: content-box;
  position: relative;
  padding-left: 5px;
  height: 40px;
  outline: 0;
  outline: none;
  background-color: $lighter-grey;
  border: 1px solid $grey;
  width: 100%;
  transition: all 0.2s ease;
  &:focus {
    height: 60px;
    border: 1px solid $orange;
    background-color: white;
  }
}
select::-ms-expand {
    display: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.person-number:focus {
  height: 40px !important;
}
/////////////////////////////////////////////
// Checkbox
/////////////////////////////////////////////
input[type="checkbox"] {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  // outline: 0;
  position: relative;

  &:after {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    content: "";
    height: 16px;
    width: 16px;
    left: 0;
    top: 0;
    background-color: white;
    border: 1px solid $grey;
  }

  &:checked {
    &:after {
      background: $green url("../images/svg/check.svg") center center no-repeat;
      background-size: 90%;
    }
  }
}
/////////////////////////////////////////////
// Standard Form (Mostly for content page)
/////////////////////////////////////////////
.Standard-form {
  h3 {
    color: $orange;
    font-size: 24px;
    font-family: $gill-regular !important;
  }

  label {
    font-size: 16px;
    color: $dark-grey;
    display: block;
    margin: 20px 0 5px 0;
  }
  textarea {
    display: block;
    width: 100%;
    height: 150px;
    resize: none;
    padding: 5px 0 0 5px;
    outline: 0;
    outline: none;
    background-color: $lighter-grey;
    border: 1px solid $grey;
    transition: all 0.2s ease;
    &:focus {
      border: 1px solid $orange;
      background-color: white;
    }
  }
  button {
    @include rounded-btn($orange,white,100%);
    margin-top: $base-margin;
    width: 100%;
    border-radius: 4px;
  }
}
/////////////////////////////////////////////
// Checkboxes
/////////////////////////////////////////////
.Form-checkbox {
  padding-top: $base-margin;
  span {
    display: inline-block;
    width: 25px;
    vertical-align: top;
    &:last-of-type {
      width: calc(100% - 30px)
    }
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}
.Form-checkbox--center {
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
  > div {
    display: inline-block;
  }
  span {
    text-align: left;
  }
}
