.MyPages {
  background-color: $lighter-grey;
  padding-bottom: 100px;
}
.MyPages-container {
  @extend .Inner-container;
}
/////////////////////////////////////////////
// HEADER
/////////////////////////////////////////////
.MyPages-header {
  text-align: center;
  padding-top: $base-margin;

  p {
    margin: $base-margin/2 0;
    color: $dark-grey;
    font-family: $gill-regular;
  }
}

.MyPages-information {
  @include flex-row();
}
.MyPages-info-col-main,.MyPages-info-col-side  {
  @include flex-col(1, 1, $base-margin);
}
@include respond-to(large) {
  .MyPages-info-col-main  {
    @include flex-col(2, 3, $base-margin);
    margin-right: $base-margin;
  }
  .MyPages-info-col-side {
    @include flex-col(1, 3, $base-margin);
    margin-left: $base-margin;
  }
}

.MyPages-block {
  background-color: #fff;
  padding: 20px;

  button {
    padding: 10px 40px;
    font-family: $gill-regular;
    @include rounded-btn($orange,white,100%);
  }
}

.MyPages-block--basic {
  margin-bottom: 30px;
  text-align: center;

  button {
    margin-top: 20px;
  }
}

.MyPages-settingsForm {
  margin: 0 auto;
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    // margin-bottom: 10px;
  }
}

.MyPages-input-section {
  margin-bottom: 30px;

  &:first-child {
    border-bottom: 1px solid $dark-grey;
    padding-bottom: 30px;
  }
  .MyPages-input-row {
    @include flex-row();
  }

  input {
    flex-basis: calc(100% - #{4*$base-margin});
  }
  .MyPages-toggle-helpbox {
    position: relative;
    height: 40px;
    flex-basis: 50px; //  IE FIX
    @include flex-position(center);
    .Icon {
      // position: static;
    }
  }
}
.MyPages-block-title {
  display: inline-block;
  border-bottom: 1px solid $dark-grey;
  padding-bottom: 10px;
}

.MyPages-block-section {
  &:first-child {
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }
}
.MyPages-block-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  a {
    @extend .Arrow-link;
  }
}
/////////////////////////////////////////////
// LINKS
/////////////////////////////////////////////
.MyPages-show-list-link {
  display: block;
  text-align: center;
  margin: 40px auto;
  width: 210px;
  @extend .Arrow-link;

}
/////////////////////////////////////////////
// HELP BOXES
/////////////////////////////////////////////
.js-MyPages-toggle-mail,.js-MyPages-toggle-phone {
  top: 8px !important;
  right: 9px !important;
}
.js-MyPages-help-box--mail, .js-MyPages-help-box--phone {
  display: none;
}
/////////////////////////////////////////////
//  SELECT BOXES
/////////////////////////////////////////////
.MyPages-select-heading {
  color: $label-grey;
  margin: 2*$base-margin 0 10px 0;
}
.MyPages-select {
  cursor: pointer;
  border-radius: 0;
  outline: $orange;
  height: 45px;
  padding-left: $base-margin;
  appearance: none;
  border-radius: 0px;
  width: calc(100% - #{3*$base-margin});
  background-image: url("../images/svg/orange-arrow.svg");
  background-position: calc(100% - #{$base-margin});
  background-repeat: no-repeat;
  background-size: 20px 30px;
}
/////////////////////////////////////////////
// CHANGE PASSWORD MODAL
/////////////////////////////////////////////
.js-MyPages-pswrd-overlay-container {
  @extend .Modal-overlay-container;
}
.js-MyPages-pswrd-clickarea {
  @extend .Modal-clickarea;
}
.MyPages-pswrd-form-container {
  @extend .Modal-form-container;
  h2 {
    text-align: center;
    @extend .Modal-header;
  }
}
.js-MyPages-close-form {
  @extend .Modal-close-form;
}
.MyPages-pswrd-form {
  @extend .Modal-form;

  label {
    margin-top: 25px;
    display: block;
  }
  button {
    @include gradient-btn($orange);
    margin-bottom: 3*$base-margin;
  }
}
