.js-Login-overlay-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: $transparent-grey;
  display: none;
}
//  CLICKAREA
.js-Login-clickarea {
  position: fixed;
  width: 100%;
  height: 100%;
}

.Login-form-container {
  background: white;
  max-height: calc(100vh - 70px);
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 5px;
  position: relative;
  overflow: auto;
  @include respond-to("medium") {
    margin-top: 100px;
    max-height: calc(100vh - 150px);
  }
}
.js-Login-close-form {
position: absolute;
right: 10px;
top: 10px;
height: 25px;
width: 25px;
background: url("../images/svg/close.svg") no-repeat center center;
cursor: pointer;
transition: all 0.3s ease;
&:hover {
  transform: rotate(180deg);
}
}
.js-Login-header {
  color: $red;
  margin: 0;
  text-align: center;
  padding: 50px 0 10px 0;
}
.Login-form {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;

  .Login-label--block {
    display: block;

    margin-top: 25px;
  }
  .Login-input {
    &:focus {
      & + .js-Login-username-toggle, & + .js-Login-password-toggle {
        top: 37px;
      }
    }
  }




  .js-Login-input-error {
    border: 1px solid red;
    color: red;
  }
  .js-Login-username-message,  .js-Login-password-message  {
  display: none;
  margin: 0;
  padding: 10px 0 1px 0;
  color: red;
  }

/////////////////////////////////////////////
// TOGGLE HELP SECTION
/////////////////////////////////////////////
.Login-input-section {
  position: relative;
}

// ICONS IN THE INPUT FIELD
.js-Login-username-toggle,.js-Login-password-toggle {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 31px;
  cursor: pointer;
  transition: all .2s ease;
}
.js-Login-question-icon {
  background: url("../images/svg/login-question.svg") no-repeat center center;
}
.js-Login-error-icon {
  background: url("../images/svg/login-error.svg") no-repeat center center;
}

.js-Login-check-icon {
  background: url("../images/svg/login-valid.svg") no-repeat center center;
}

  .js-Login-reset-password-btn {
    @include rounded-btn($orange, white, 100%);
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  .Login-user-email {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
  }

// THE ORANGE SLIDE DOWN HELP-BOXES
.js-Login-username-help-box,.js-Login-password-help-box {
  display: none;
}
.Login-help-box {
  position: relative;
  margin-top: 15px;
  width: 100%;
  border: 2px solid $orange;
  &:after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: 15px;
  width: 15px;
  height: 15px;
  background: white;
  border-right:2px solid $orange;
  border-bottom:2px solid $orange;
  transform:rotate(-135deg);
  }
  ul {
    padding-left: 0;
    list-style-type: none;
  }
}

.Login-contact-phone, .Login-contact-mail {
  padding: 7.5px 0 7.5px 30px;
  position: relative;
  &:before {
    content:"";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0;
  }
}
.Login-contact-phone:before {
  background: url("../images/svg/phone.svg") no-repeat center center;
}
.Login-contact-mail:before {
  background: url("../images/svg/mail.svg") no-repeat center center;
}

.Login-help-box-inner {
  padding: $base-margin;
}

/////////////////////////////////////////////
// LOGIN ROW
/////////////////////////////////////////////
.Login-row {
  @include flex-row();

}
.Login-checkbox {
  @include flex-gtr-col(2,15px);
  @include flex-position(flex-start);
  label {
    margin-top: $base-margin/2;
  }


}
.js-Login-forgot-password {
  @include flex-gtr-col(2,15px);
  @include flex-position(flex-end);
}



  .js-Login-forgot-password {
    color: $red;
    font-size: 12px;
    text-align: right;
    padding: 10px 0;
  }
  .js-Login-form-submit-btn {
    display: block;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    @include gradient-btn($red, $dark-red);
    color: white;
    margin-bottom: 40px;
  }
}

/////////////////////////////////////////////
// ERROR DISPLAY
/////////////////////////////////////////////

.Login-header--error {
  color: red;
}


/////////////////////////////////////////////
// LOGIN PASSWORD BOXES
/////////////////////////////////////////////
.js-Login-password-reset-box, .js-Login-password-sent-box {
display: none;
}
.js-Login-reset-email {
  font-family: $gill-bold;
  font-style: italic;
}
