.js-Login-overlay-container {
  @extend .Modal-overlay-container;
}
.js-Login-clickarea {
  @extend .Modal-clickarea;
}
.Login-form-container {
  @extend .Modal-form-container;
}
.js-Login-close-form {
  @extend .Modal-close-form;
}
.js-Login-header {
  @extend .Modal-header;
}
.Login-form {
  @extend .Modal-form;
  .Login-label--block {
    display: block;
    margin-top: 25px;
  }
  .Login-input {
    &:focus {
      & + .js-Login-username-toggle, & + .js-Login-password-toggle {
        top: 55px;
      }
    }
  }
  .js-Login-input-error {
    border: 1px solid red;
    color: red;
  }
  .js-Login-username-message,  .js-Login-password-message  {
  display: none;
  margin: 0;
  padding: 10px 0 1px 0;
  color: red;
  }

/////////////////////////////////////////////
// TOGGLE HELP SECTION
/////////////////////////////////////////////
.Login-input-section {
  position: relative;
}

// ICONS IN THE INPUT FIELD
.js-Login-username-toggle,.js-Login-password-toggle {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 40px;

  @include breakpoint($medium) {
    top: 47px;
  }
  cursor: pointer;
  transition: all .2s ease;
}
.js-Login-question-icon {
  background: url("../images/svg/login-question.svg") no-repeat center center;
}
.js-Login-error-icon {
  background: url("../images/svg/login-error.svg") no-repeat center center;
}

.js-Login-check-icon {
  background: url("../images/svg/login-valid.svg") no-repeat center center;
}

  .js-Login-reset-password-btn {
    @include rounded-btn($orange, white, 100%);
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  .Login-user-email {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
  }

// THE ORANGE SLIDE DOWN HELP-BOXES
.js-Login-username-help-box,.js-Login-password-help-box {
  display: none;
}

/////////////////////////////////////////////
// LOGIN ROW
/////////////////////////////////////////////
.Login-row {
  @include flex-row();

}
.Login-checkbox {
  @include flex-gtr-col(2,15px);
  @include flex-position(flex-start);
  label {
    margin-top: $base-margin/2;
    font-size: 12px;
    @include breakpoint($medium) {
      font-size: 18px;
    }
  }

}
.js-Login-forgot-password {
  @include flex-gtr-col(2,15px);
  @include flex-position(flex-end);
}
  .js-Login-forgot-password {
    color: $red;
    font-size: 12px;
    @include breakpoint($medium) {
      font-size: 18px;
    }
    text-align: right;
    padding: 10px 0;
  }
  .js-Login-form-submit-btn {
    display: block;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    @include gradient-btn($red);
    color: white;
    margin-bottom: 3*$base-margin;
  }
}

/////////////////////////////////////////////
// ERROR DISPLAY
/////////////////////////////////////////////
.Login-header--error {
  color: red;
}
/////////////////////////////////////////////
// LOGIN PASSWORD BOXES
/////////////////////////////////////////////
.js-Login-password-reset-box, .js-Login-password-sent-box {
display: none;
}
.js-Login-reset-email {
  font-family: $gill-bold;
  font-style: italic;
}
