$lotteryRowWidth:  480px;
@keyframes lottery-spinner {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
[class*="Lottery-container--"] {
  min-height: 810px;
  position: relative;
  overflow: hidden;
  .Tickets-ticket-col:after {
    background-color: transparent;
  }
}


.Lottery-inner-container {
  padding: 20px 0 40px 0;
  @extend .Inner-container;
}
/////////////////////////////////////////////
// DRAGNING PÅGÅR
/////////////////////////////////////////////
$small-spinner: 30px;
.js-Lottery-status {
  position: absolute;
  bottom: 25px;
  color: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 280px;
  text-transform: uppercase;
  text-align: center;
  span {
    display: inline-block;
    height: $small-spinner;
    vertical-align: top;
    font-size: 22px;
  }
}
.js-Lottery-ongoing {
  margin-right: 10px;
}
.js-Lottery-spinner--small {
  animation: lottery-spinner 1s linear infinite;
  width: $small-spinner;
  background-size: cover;
  background:url("../images/svg/spinners/spinner-small.svg") no-repeat center center;
}
/////////////////////////////////////////////
// Rotating backgrounds
/////////////////////////////////////////////
@keyframes rotate-bg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.js-Lottery-starburst-bg {
  position: absolute;
  opacity: 0.2;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  background:url("../images/svg/starburst.svg") no-repeat center center;
  background-size: cover;
}

.Lottery-rotate-bg {
  animation: rotate-bg 20s linear infinite;
}

.Lottery-mynumber-container {
  max-width: $lotteryRowWidth;
  margin: 0 auto;
  width: 90%;
  height: 175px;
  background-color: rgb(255,240,218);
  border-radius: 6px;
}

.Lottery-mynumber-title {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  text-transform: uppercase;
  color: darken($grey,30%);
}


.Lottery-mynumber-number-container {
  height: 55px;
  width: 90%;
  margin: 0 auto;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  position: relative;
  &:before, &:after {
    z-index: 1;
    content: "";
    position: absolute;
    height: 2px;
    background-color: white;
    width: 100%;
  }
  &:before {
    top: 2px;
  }
  &:after {
    bottom: 2px;
  }

  @extend .Flex-center;
  > div {
    @include flex-row();
  }
$mynumber-size: 80px;
  .Lottery-mynumber-logo {
    position: relative;
    z-index: 2;
    background: url("../images/svg/kombi.svg") no-repeat center center;
    height: $mynumber-size;
    width: $mynumber-size;
    margin-right: 30px;
  }
  .Lottery-mynumber-number {
    font-size: 40px;
    @extend .Flex-center;
    h4 {
      color: $lottery-blue;
      margin: 0;
    }
  }
}
.js-Lottery-price-header {
  transition: all 1s ease;
  font-family: $gill-bold;
  margin: 20px 0;
  text-align: center;
  font-size: 40px;
  color: white;
  min-height: 46px;
  display: block;
}
/////////////////////////////////////////////
// THE LOTTERY ROW
/////////////////////////////////////////////
.Lottery-row {
  max-width: $lotteryRowWidth;
  margin: 30px auto 0 auto;
  position: relative;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  h3 {
    font-family: $gill-bold;
    margin: 10px 0;
    text-align: center;
    font-size: 40px;
    color: white;
  }
}
.Lottery-column {
  background-color: $lighter-grey;
  position: relative;
  overflow: hidden;
  width: percentage(1/6);
  float: left;
  height: 90px;
  border-top: 6px solid $light-grey;
  border-right: 3px solid $light-grey;
  border-left: 3px solid $light-grey;
  border-bottom: 6px solid $light-grey;
  border-radius: 12px;
  font-size: 44px;
  font-family: $gill-bold;
  z-index: 2;
  &:first-of-type {
    border-left: 6px solid $light-grey;
  }
  &:last-of-type {
    border-right: 6px solid $light-grey;
  }
  &:before {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: rgba(145,145,145,0.1);
      height: 40px;
      z-index: 99;
      content: "";
  }
}
.js-Lottery-number--spinning {
  animation: spinning 1.7s linear  infinite;
  div {
    color: darken($grey,30%) !important;
  }
}
.js-Lottery-number {
  background-color: $lighter-grey;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
// THE NUMBER DIV
  div {
    color: darken($grey,30%);
    transition: all 0.2s ease;
    @extend .Flex-center;
    height: 80px;
    width: 100%;
    text-align: center;
  }
}
@keyframes spinning {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-800px);
  }
}

.js-Lottery-number {
  .Lottery-correct {
    color: rgb(6,171,40);
  }
  .Lottery-wrong {
    color: rgb(202,0,0);
  }
}
.Lottery-correct, .Lottery-wrong {
position: relative;
}
/////////////////////////////////////////////
// Win and Lose message container
/////////////////////////////////////////////
.Lottery-message-container {
  max-width: $lotteryRowWidth;
  margin: 0 auto;
  color: white;
}
.js-Lottery-message {
  text-align: center;
  font-size: 26px;
  color: white;
  transition: all .2s ease;
}

.js-Start-lottery-btn {
  opacity: 1;
  visibility: visible;
  transition: all .2s ease;
}
.Hide-element {
  visibility: hidden;
  opacity: 0;
}
.Show-element {
  visibility: visible;;
  opacity: 1;
}
/////////////////////////////////////////////
// CINEMA COUNTDOWN BETWEEN
/////////////////////////////////////////////

.js-Lottery-countdown-c {
  display: block;
  width: 100%;
  position: relative;
  height: 90px;
  margin-top: $base-margin;
}
.js-Lottery-countdown {
  display: block;
  width: 50px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  font-size: 60px;
  right: 0;
  top: 0;
}

.js-Lottery-spinner--big {
  position: absolute;
  animation: lottery-spinner 1s linear infinite;
  height: 100%;
  width: 90px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-size: cover;
  background:url("../images/svg/spinners/spinner-big.svg") no-repeat center center;
}
/////////////////////////////////////////////
// COLLECT WINNINGS LINKS
/////////////////////////////////////////////
.js-Lottery-winnings-links {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  color: white;
  display: none;
  h4 {
    font-size: 28px;
    margin: 35px 0 0 0;
  }
  a {
    margin: 15px auto;
  }
}

/////////////////////////////////////////////
// VARIANTS
/////////////////////////////////////////////
 .Lottery-container--kombi-win, .Lottery-container--kombi {
  @include gradient-bg($orange);
  .js-Start-lottery-btn {
   @include gradient-btn($lottery-blue);
  }
  .js-Lottery-winnings-links a {
    @include gradient-btn($lottery-blue);
  }
 }
 .Lottery-container--dream, .Lottery-container--dream-win  {
  @include gradient-bg($green);
  .js-Start-lottery-btn {
   @include gradient-btn($lottery-blue);
  }
  .js-Lottery-winnings-links a {
    @include gradient-btn($lottery-blue);
  }
 }

 .Lottery-container--motor, .Lottery-container--motor-win {
   @include gradient-bg($red);
   .js-Start-lottery-btn {
    @include gradient-btn($motor-black);
   }
   .js-Lottery-winnings-links a {
     @include gradient-btn($motor-black);
   }
 }
