.Lottery-container {
  width: 500px;
  margin: 0 auto;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.Lottery-column {
  position: relative;
  overflow: hidden;
  width: calc(20% - 2px);
  float: left;
  height: 60px;
  border: 1px solid blue;
  float: left;
}

.Lottery-number--spinning {
  animation: spinning 2.5s linear infinite;
}

.Lottery-number {
  position: absolute;
  top: 0;
  width: 100%;
// THE NUMBER DIV
  div {
    background-color: white;
    color: black;
    transition: all 0.2s ease;
    @extend .Flex-center;
    font-size: 22px;
    height: 60px;
    width: 100%;
    text-align: center;
  }
}
@keyframes spinning {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-600px);
  }
}

.Lottery-number {
  .Lottery-correct {
    color: green;
  }
  .Lottery-wrong {
    color: red;
  }
}
.Lottery-correct, .Lottery-wrong {
position: relative;
// &:after {
//   content:"";
//   position: absolute;
//   width: 60px;
//   height: 60px;
//   background-color: green;
//   top: 50px;
// }

}
