$menuSize: 37px;
$menuBorder: 2px solid rgb(214,214,214);
.Header-container {
width: 100%;
background-color: white;
border-top: 10px solid $red;
border-bottom: 15px solid $orange;
@include respond-to(large) {
  border-top: 20px solid $red;
  border-bottom: 5px solid $orange;
}
}
.Header-inner-container {
  position: relative;
  padding: 15px 0;
  @extend .Inner-container;
  @include breakpoint(1px,767px) {
    width: 100%;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/////////////////////////////////////////////
// HEADER FLEX GRID
/////////////////////////////////////////////
  .Header-flex--one {
    flex-basis: 25%;
    order: 1;
    @extend .Flex-center;
  }
  .Header-flex--two {
    flex-basis: 50%;
    order: 2;
    @extend .Flex-center;
  }
  .Header-flex--three {
    flex-basis: 25%;
    order: 3;
    @extend .Flex-center;
  }
  .Header-flex--four {
    flex-basis: 100%;
    order: 4;
  }
// TABLET AND LARGER
@include respond-to(large) {
    //  MENU
  .Header-flex--one {
    flex-basis: 120px;
    order: 2;
    border-right: $menuBorder;
    border-left: $menuBorder;
  }
  //  LOGO
  .Header-flex--two {
    flex-basis: 250px;
    order: 1;
  }
  //  MIN SIDA
  .Header-flex--three {
    flex-basis: 150px;
    border-right: $menuBorder;
  }
  .Header-flex--four {
    flex-basis: calc(100% - 526px);
    @include flex-position(flex-end);
  }
}

/////////////////////////////////////////////
// Menu and Profile burger, image, text grid.
/////////////////////////////////////////////
.Header-title {
  min-width: 35px;
  @include breakpoint(768px) {
    margin-left: 10px;
    @include flex-position(center);
  }
  h4 {
    text-transform: uppercase;
    font-family: $gill-regular;
    color: $red;
    @include breakpoint(1px, 767px) {
      margin: 10px 0 0 0;
      font-size: 14px;

    }
    @include breakpoint(768px) {
      margin: 0;
      font-size: 18px;

    }
  }
}
@include breakpoint(768px) {
  .Header-inner-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
/////////////////////////////////////////////
 //  MENU
 /////////////////////////////////////////////

@mixin headerBorders($color, $shadow:null) {
  position: relative;
  @include breakpoint(1024px) {
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  &:before,&:after {
    content: "";
    width: 100%;
    height: 15px;
    background-color: $color;
    transition: all .2s ease;
    position: absolute;
    clear: both;
    content: "";
    display: block;
    left: 0;
    right: 0;
  }
  &:before {
    @if $shadow {
      box-shadow: -1px -4px 11px -5px rgba(0,0,0,0.65);
    }
    @else {
      box-shadow:none;
    }
    top: -15px;
  }
  &:after {
    bottom: -15px;
    @include breakpoint(1024px) {
      height: 20px;
      bottom: -15px;
    }
  }
}

.js-Header-menu-container {
  cursor: pointer;
  left: 0;
  position: relative;
  transition: all .2s ease;

  &.Burger--open {
    background-color: $red;
    @include headerBorders($red, true);
  }
}
.Header-menu-circle {
  width: $menuSize;
  height: $menuSize;
  border-radius: 50%;
  margin: 0 auto;
  border: 3px solid $red;
  @include flex-position(center);
}
//////////////////////////////////////////
///////// HAMBURGER
//////////////////////////////////////////
$lineThick: 3px;
$burger-radius: 4px;
.Burger-outer {
    // z-index: 999;
    width: 25px;
    height: 25px;
    cursor: pointer;
    perspective: 40px;
}
.Burger-inner {
    position: relative;
    transform: translate3d(0,0,0);
    width: 80%;
    margin: 0 auto;
    height: 100%;
    transition: transform 0.4s ease-out;
    transform: translate3d(0,0,0);
}
.Burger {
    position: absolute;
    height: $lineThick;
    top: 11px;
    width: 100%;
    border-radius: $burger-radius;
    background-color: $red;
    transition: all 0.3s ease-in;
    &:before, &:after {
      background-color: $red;
      position: absolute;
      content: "";
      border-radius: $burger-radius;
      height: $lineThick;
      width: 100%;
      right: 0;
      transition: transform 0.5s cubic-bezier(0.6,0,.4,1);
    }
    &:before {
        top: -7px;
    }
    &:after {
        bottom: -7px;
    }
}
.Burger--open  {
    .Burger-inner {
        transform: rotateY(0) rotateX(180deg);
    }
    .Burger {
        background-color: $red;
    }
    .Burger:before {
        background-color: white;
        opacity: 1;
        transform: translateY(7px) translateX(0px) rotate(-45deg);
    }
    .Burger:after {
        background-color: white;
        opacity: 1;
        transform: translateY(-7px) translateX(0px) rotate(45deg);
    }
    .Header-menu-circle {
      border: 3px solid white;
      }
    .js-Header-title--menu {
      color: white;
    }
}
/////////////////////////////////////////////
// LOGO
/////////////////////////////////////////////
.Header-kombo-logo {
  background: url("../images/svg/logos/logo.svg") no-repeat center center;
  height: 45px;
  width: 95%;
  margin: 0 auto;
  display: block;
}
/////////////////////////////////////////////
// PROFILE
/////////////////////////////////////////////
.js-Header-profile {
  cursor: pointer;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}
.Header-profile-image {
margin: 0 auto;
margin-top: 0px;
background: url("../images/svg/profile-icon-red.svg") no-repeat center center;
height: $menuSize+3px; //  Compensate for the menus 3+3px border
width: 22px;
}
/////////////////////////////////////////////
// RÄTTA DIN LOTT
/////////////////////////////////////////////
@include breakpoint(1px, 1023px) {
  .Header-flex--four {
    padding-top: 1.5*$base-margin;
    button {
      @include rounded-btn($orange,white,300px);
      margin: 0 auto;
      display: block;
      font-size: 16px;
    }
  }
}
@include breakpoint(1024px) {
  .Header-flex--four {
    button {
      @include rounded-btn($orange,white,100%);
      padding: 20px 50px;
    }
  }
}
/////////////////////////////////////////////
// STATE LOGGED IN
/////////////////////////////////////////////
.Header-container--MyPages {
  border-bottom: none;
  .Header-flex--one {
    border: none;
  }
  .Header-flex--three {
  background-color: $darker-red;
  @include headerBorders($darker-red, null);
  .Header-profile-image {
    background-image: url("../images/svg/profile-icon-white.svg");
  }
  .Header-title  {
    h4 {
      color: white;

    }
  }
  }
  .Header-flex--four {
    display: none; // The button
  }
}
/////////////////////////////////////////////
// TIGHTER HEADER AFTER SCROLL IN DESKTOP
/////////////////////////////////////////////
@include respond-to(large){
  .Header-container--tight {
    border-top: 2px solid $red;
    border-bottom: 2px solid $orange;
    position: fixed;
    z-index: 40;

    .Header-inner-grid, .js-Header-menu-container  {
      &::before, &::after {
        display: none;
        // position: static;
      }
    }
    .Header-inner-container {
      padding: 4px 0;
    }
    .js-Header-correct-btn {
      padding: 10px 30px;
      font-size: 16px;
    }
  }
}
