$menuSize: 36px;
$menuBorder: 2px solid rgb(214,214,214);

.Header-container {
width: 100%;
background-color: white;
border-top: 10px solid $red;
border-bottom: 15px solid $orange;
@include respond-to(large) {
  border-top: 20px solid $red;
  border-bottom: 5px solid $orange;
}
}
.Header-inner-container {
  position: relative;
  padding: 15px 0;
  @extend .Inner-container;
  @include breakpoint(1px,767px) {
    width: 100%;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 95px;
}

/////////////////////////////////////////////
// HEADER FLEX GRID
/////////////////////////////////////////////
  .Header-flex--one {
    flex-basis: 25%;
    order: 1;
    @extend .Flex-center;
  }
  .Header-flex--two {
    flex-basis: 50%;
    order: 2;
    @extend .Flex-center;
  }
  .Header-flex--three {
    flex-basis: 25%;
    order: 3;
    @extend .Flex-center;
  }
  .Header-flex--four {
    flex-basis: 100%;
    order: 4;
  }
// TABLET AND LARGER
@include respond-to(large) {
    //  MENU
  .Header-flex--one {
    flex-basis: 120px;
    order: 2;
    border-right: $menuBorder;
    border-left: $menuBorder;
  }
  //  LOGO
  .Header-flex--two {
    flex-basis: 250px;
    order: 1;
  }
  //  MIN SIDA
  .Header-flex--three {
    flex-basis: 150px;
    border-right: $menuBorder;
  }
  .Header-flex--four {
    flex-basis: calc(100% - 526px);
    @include flex-position(flex-end);
  }
}

/////////////////////////////////////////////
// Menu and Profile burger, image, text grid.
/////////////////////////////////////////////
.Header-title {
  min-width: 35px;

  @include breakpoint(768px) {
    margin-left: 10px;
    @include flex-position(center);
  }
  h3 {
    text-transform: uppercase;
    font-family: $gill-regular;
    color: $red;
    font-size: 18px;
    @include breakpoint(1px, 767px) {
      margin: 10px 0 0 0;
    }
    @include breakpoint(768px) {
      margin: 0;
    }
  }
}
@include breakpoint(768px) {
  .Header-inner-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
/////////////////////////////////////////////
 //  MENU
 /////////////////////////////////////////////

@mixin headerBorders($color, $shadow:null) {
  position: relative;
  @include breakpoint(1024px) {
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  &:before,&:after {
    content: "";
    width: 100%;
    height: 15px;
    background-color: $color;
    transition: all .2s ease;
    position: absolute;
    clear: both;
    content: "";
    display: block;
    left: 0;
    right: 0;
  }
  &:before {
    @if $shadow {
      box-shadow: -1px -4px 11px -5px rgba(0,0,0,0.65);
    }
    @else {
      box-shadow:none;
    }
    top: -15px;
  }
  &:after {
    bottom: -15px;
    @include breakpoint(1024px) {
      height: 20px;
      bottom: -15px;
    }
  }
}

.js-Header-menu-container {
  cursor: pointer;
  left: 0;
  position: relative;
  transition: all .2s ease;

  &.Burger--open {
    background-color: $red;
    @include headerBorders($red, true);

  }
}
.Header-menu-circle {
  width: $menuSize;
  height: $menuSize;
  border-radius: 50%;
  margin: 0 auto;
  border: 3px solid $red;
  @extend .Flex-center;
}
/////////////////////////////////////////////
// MENU BURGER
/////////////////////////////////////////////
$hamburger-layer-height                    : 3px !default;
$hamburger-layer-spacing                   : 4px !default;
$hamburger-layer-color                     : #000 !default;
$hamburger-layer-border-radius             : 4px !default;
$cubic-bezier:        cubic-bezier(0.215, 0.61, 0.355, 1);
$cubic-bezier2:        cubic-bezier(0.55, 0.055, 0.675, 0.19);

.Header-hamburger-outer {
  width: 65%;
  transition-property: opacity, filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  position: relative;
  .Header-hamburger-inner{
    transition-duration: 0.1s;
    transition-timing-function: $cubic-bezier2;
  }
}
.Header-hamburger-inner {
  top: -1.5px;
  &,
  &::before,
  &::after {
    width: 100%;
    height: $hamburger-layer-height;
    background-color: $red;
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  &::before,
  &::after {
    content: "";
    display: block;
  }
  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    transition: top 0.1s 0.14s ease,
    opacity 0.1s ease;
  }
  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    transition: bottom 0.1s 0.14s ease,
    transform 0.1s $cubic-bezier2;
  }
}
/*********** OPEN BURGER ************/
.Burger--open {
  .Header-hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.14s;
    transition-timing-function: $cubic-bezier;
    background-color: white;
    &::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease,
      opacity 0.1s 0.14s ease;
      background-color: white;

    }
    &::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease,
      transform 0.1s 0.14s $cubic-bezier;
      background-color: white;

    }
  }
}
//  STATE OPEN
.Burger--open {
.Header-menu-circle {
  border: 3px solid white;
  }
.js-Header-title--menu {
  color: white;
}
}
/////////////////////////////////////////////
// LOGO
/////////////////////////////////////////////
.Header-kombo-logo {
  background: url("../images/svg/logo.svg") no-repeat center center;
  height: 50px;
  width: 95%;
  margin: 0 auto;
  display: block;
}
/////////////////////////////////////////////
// PROFILE
/////////////////////////////////////////////
.js-Header-profile {
  cursor: pointer;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}
.Header-profile-image {
margin: 0 auto;
margin-top: 0px;
background: url("../images/svg/profile-icon-red.svg") no-repeat center center;
height: $menuSize+3px; //  Compensate for the menus 3+3px border
width: 25px;
// width: 100%;
}
/////////////////////////////////////////////
// RÄTTA DIN LOTT
/////////////////////////////////////////////
@include breakpoint(1px, 1023px) {
  .Header-flex--four {
    padding-top: 1.5*$base-margin;
    button {
      @include rounded-btn($orange,white,300px);
      margin: 0 auto;
      display: block;
    }
  }
}
@include breakpoint(1024px) {
  .Header-flex--four {
    button {
      @include rounded-btn($orange,white,100%);
      padding: 20px 50px;
    }
  }
}
/////////////////////////////////////////////
// STATE LOGGED IN
/////////////////////////////////////////////
.Header-container.Logged-in {
  border-bottom: none;
  .Header-flex--one {
    border: none;
  }
  .Header-flex--three {
  background-color: $dark-red;
  position: relative;
  @include headerBorders($dark-red, null);
  .Header-profile-image {
    background-image: url("../images/svg/profile-icon-white.svg");
  }
  .Header-title h3 {
    color: white;
  }
  }
  .Header-flex--four {
    display: none; // The button
  }
}
