.Campaign-hero-image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.Campaign-hero-inner {
  position: relative;
  @extend .Inner-container;
}
.Campaign-hero-left {
  flex-basis: 60%;
}
.Campaign-hero-list {
  list-style: none;
  color: white;
  li {
    position: relative;
    padding: $base-margin 2*$base-margin;
    font-size: 24px;
    &:before {
      position: absolute;
      content: "";
      top: 18px;
      height: 30px;
      width: 30px;
      left: -$base-margin;
    }
  }
  // ICON VARIANTS
  &.Campaign-hero-list--star li:before {
    background:url("../images/svg/lists/star.svg") no-repeat center center;
  }
  &.Campaign-hero-list--check li:before {
    background:url("../images/svg/lists/check.svg") no-repeat center center;
  }
  &.Campaign-hero-list--ball li:before {
    background:url("../images/svg/lists/ball.svg") no-repeat center center;
  }
}
.Campaign-hero-products-img {
  max-height: 300px;
  width: auto;
  padding: $base-margin;
}
/////////////////////////////////////////////
// RESPONSIVITET HERO
/////////////////////////////////////////////
@include breakpoint(1px,960px) {
  .Campaign-hero-left {
    text-align: center;
  }
  .Campaign-hero-list {
    display: inline-block;
    li {
      text-align: left;
    }
  }
  .Campaign-hero-inner {
    padding-top: 2*$base-margin;
  }
  .Campaign-hero-image {
    width: 100%;
    background-position: bottom;
  }

}
@include breakpoint(961px) {
  .Campaign-hero-inner {
    padding: 2*$base-margin 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .Campaign-hero-left {
    flex-basis: percentage(1/2);
  }
  .Campaign-hero-right {
    flex-basis: percentage(1/2);
    display: flex;
    justify-content: flex-end;
  }
  .Campaign-hero-right-inner {
    max-width: 400px;
    width: 100%;
  }
}
@include breakpoint(1px, 767px) {
  .Campaign-hero-right {
    width: 100%;
    position: relative;
    &:after {
      background: url("../images/svg/shadow-border.svg") no-repeat;
      background-size: contain;
      position: absolute;
      height: 10px;
      bottom: -5px;
      content: "";
      width: 100%;
    }
  }
}

/////////////////////////////////////////////
// Campaign-hero-right-inner (Form)
/////////////////////////////////////////////
.Campaign-hero-right-inner {
  background-color: $content-grey;
  padding: 2*$base-margin $base-margin;
  @include breakpoint(768px) {
    padding: 2*$base-margin 2*$base-margin;
  }
}
.Campaign-hero-right-logo {
  height: 100px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2*$base-margin;
}
.Campaign-form {
  .Campaign-label {
    color: $dark-grey;
    display: block;
    margin-top: $base-margin;
    margin-bottom: 5px;
  }
}
.Campaign-form-submit {
  margin: 2*$base-margin auto !important;
}
// Campaign-form-info-block (Kundnummer, Adress, etc.)
.Campaign-form-info-block {
  text-align: center;
  > div {
    display: inline-block;
    margin: 0 auto;
  }
  h5 {
    margin: 0;
    color: $label-grey;
    font-family: $gill-regular;
    font-size: 16px;
  }
  p {
    font-family: $gill-bold;
    margin-top: 5px;
    word-break: break-all;
    span {
      display: block;
    }
  }
}

.Campaign-form-confirmation {
  text-align: center;
  min-height: 140px;
}

/////////////////////////////////////////////
// INFO SECTION (Bottom)
/////////////////////////////////////////////
.Campaign-info {
  background-color: $content-grey;
  p {
    margin: 0;
  }
}
.Campaign-info-inner {
  background-color: white;
  @extend .Inner-container;
}
.Campaign-info-header {
  margin: 0;
}
.Campaign-info-list {
  list-style: none;
  padding-left: 0;
  li {
    padding: $base-margin/2 0;
    span {
      font-family: $gill-bold;
    }
  }
}
@include breakpoint(1px, 960px) {
  .Campaign-info {
    padding-bottom: 2*$base-margin;
  }
  .Campaign-info-content {
    margin: 0 auto;
    max-width: 560px;
    padding: 2*$base-margin $base-margin 3*$base-margin $base-margin;
  }
}
@include breakpoint(961px) {
  .Campaign-info {
    padding: 2*$base-margin 0;
  }
  .Campaign-info-content {
    text-align: center;
    margin: 0 auto;
    max-width: 560px;
    padding: 3*$base-margin $base-margin 4*$base-margin $base-margin;
  }
}
/////////////////////////////////////////////
// VARIANTER
/////////////////////////////////////////////
.Campaign--kombi {
  .Campaign-hero-no-image {
    @include gradient-bg($orange);
  }
  .Campaign-hero-right-logo {
    background-image: url("../images/svg/logos/kombi.svg");
  }
  .Campaign-form-submit {
    @include gradient-btn($orange);
  }
  .Campaign-info-header {
    color: $lottery-blue;
  }
}
.Campaign--dream {
  .Campaign-hero-no-image {
    @include gradient-bg($green);
  }
  .Campaign-hero-right-logo {
    background-image: url("../images/svg/logos/dromrese.svg");
  }
  .Campaign-form-submit {
    @include gradient-btn($green);
  }
  .Campaign-info-header {
    color: $lottery-blue;
  }
}
.Campaign--motor {
  .Campaign-hero-no-image {
    @include gradient-bg($red);
  }
  .Campaign-hero-right-logo {
    background-image: url("../images/svg/logos/motor.svg");
  }
  .Campaign-form-submit {
    @include gradient-btn($red);
  }
  .Campaign-info-header {
    color: $red;
  }
}
