.Page-winner-back-link {
  font-size: 14px;
  text-align: center;
  display: block;
  margin: $base-margin auto;
  span {
    display: inline-block;
    vertical-align: top;
  }
}
.Page-winner-image {
  img {
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: 2*-$base-margin;
  }
}
.Page-winner {
  p:first-of-type {
    margin-top: 2*$base-margin;
    font-family: $gill-bold;
  }
}
/////////////////////////////////////////////
// WINNER DETAIL LIST
/////////////////////////////////////////////
.Page-winner-detail-list {
  color: white;
  h4 {
    font-size: 23px;
  }
  ul {
    list-style-type: none;
    padding: 4*$base-margin;
    margin-top: 2*$base-margin;
    margin-bottom: 3*$base-margin;
    li {
      font-size: 18px;
      margin-bottom: $base-margin;
      &:before {
        position: static;
      }
    }
    span {
      font-family: $gill-bold;
    }
  }
}
/////////////////////////////////////////////
// VARIANTS
/////////////////////////////////////////////
// KOMBI
.Page-winner--kombi {
  blockquote {
    background-color: $orange;
  }
  h1, h2, h3 {
    color: $blue;
  }
  .Cta-btn {
    @include gradient-btn($orange);
  }
  .Page-winner-back-link {
    @include rounded-btn($orange,white, 300px);
  }

  .Page-winner-detail-list {
    background-color: $blue;
  }
}
// DREAM
.Page-winner--dream {
  blockquote {
    background-color: $green;
  }
  h1, h2, h3 {
    color: $blue;
  }
  .Cta-btn {
    @include gradient-btn($green);
  }

  .Page-winner-back-link {
    @include rounded-btn($blue,white, 300px);
  }

  .Page-winner-detail-list {
    background-color: $blue;
  }
}
// MOTOR
.Page-winner--motor {
  blockquote {
    background-color: $red;
  }
  h1, h2, h3 {
    color: $red;
  }
  .Cta-btn {
    @include gradient-btn($red);
  }
  .Page-winner-back-link {
    @include rounded-btn($red,white, 300px);
  }
  .Page-winner-detail-list {
    background-color: $red;
  }
}
